.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  border-bottom: 1px solid #c3a82f;
  height: 54px;

}

.navLogo {
  display: flex;
  align-items: center;
}

.companyLogo {
  height: 40px;
  margin-right: 10px;
}

.companyLogoTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c3a82f;
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
}

.navLinks li {
  position: relative;
}

.navLinks a {
  text-decoration: none;
  color: #c3a82f;
  font-size: 1rem;
  padding: 16px 10px;
  transition: background-color 0.3s;
}

.navLinks a:hover {
  background-color: #c3a82f;
  color: #333;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #788297;
}

.userNavButton {
  background-color: #c3a82f;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0;
}

.userNavButton:hover {
  background-color: #a88524;
}

.icon {
  font-size: 1rem;
  color: #333;
}
.ul {
  margin: 0;
}
.ul li {
  padding: 1rem 1rem;
}