.notesPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notesPageContent {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  margin-left: 10px;
}